
<div class="container">

  <mat-card class="card" *ngIf="(userProfile | async) as user">
    <mat-card-header>
      <div class="profile">
      <img mat-card-image class="photo" src="{{user.profilePhoto}}" >
      <mat-card-title>
        {{user.firstName}} {{user.lastName}}
      </mat-card-title>
      <mat-card-subtitle>
        {{user.weight}}kg <i class="material-icons">
            arrow_forward
            </i> {{user.goalWeight}}kg
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          Dzienny cel kalorii: <strong>{{user.dailyCalories}}</strong>
        </p>
      </mat-card-content>
    </div>
    </mat-card-header>
  </mat-card>
  <mat-card class="card">
    <form [formGroup]="myForm">
      <h2 >Edytuj swój profil</h2>
      <br><br><br>
      <div class="box">
        <mat-form-field>
          <input matInput placeholder="Imię" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nazwisko" formControlName="lastName" required>
        </mat-form-field>
      </div>
      <div class="box">
        <mat-form-field>
          <input type="text" pattern="([0-9]{1,3})([\.,][0-9]{0,2})?" name="weight"  matInput placeholder="Aktualna waga" formControlName="weight" required>

          <mat-error *ngIf="weight.invalid && weight.touched && weight.errors.pattern ">
              Wprowadź poprawną wagę
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" pattern="([0-9]{1,3})([\.,][0-9]{0,2})?"  matInput placeholder="Docelowa waga" name="goalWeight" formControlName="goalWeight" required>
          <mat-error *ngIf="goalWeight.invalid && goalWeight.touched && goalWeight.errors.pattern">
              Wprowadź poprawną wagę
            </mat-error>
        </mat-form-field>
      </div>
      <div class="box">
        <mat-form-field>
            <input type="text" pattern="\d{1,4}"  matInput placeholder="Liczba kalorii" name="dailyCalories" formControlName="dailyCalories" required>
            <mat-error *ngIf="dailyCalories.invalid && dailyCalories.touched && dailyCalories.errors.pattern ">
              Coś mi tu nie pasuje
            </mat-error>

        </mat-form-field>
      </div>
      <button mat-raised-button color="primary"  class="btn"  [disabled]="checkFormFields()" (click)="authService.UpdateUserProfile(authService.userData,myForm.value)">Zapisz</button>
    </form>
  </mat-card>


