
<div class="container">

  <mat-card class="card" *ngIf="(userProfile | async) as user">
    <mat-card-header>
      <div class="profile">
      <img mat-card-image class="photo" src="{{user.profilePhoto}}" >
      <mat-card-title>
        {{user.firstName}} {{user.lastName}}
      </mat-card-title>
      <mat-card-subtitle>
        {{user.weight}}kg <i class="material-icons">
            arrow_forward
            </i> {{user.goalWeight}}kg
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          Dzienny cel kalorii: <strong>{{user.dailyCalories}}</strong>
        </p>
      </mat-card-content>
    </div>
    </mat-card-header>
  </mat-card>
  <mat-card class="card">
    <form [formGroup]="myForm">
      <h2 >Edytuj swój profil</h2>
      <br><br><br>
      <div class="box">
        <mat-form-field>
          <input matInput placeholder="Imię" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nazwisko" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="box">
        <mat-form-field>
          <input type="text" pattern="[0-9]*" maxlength="3" matInput placeholder="Aktualna waga" formControlName="weight">

          <mat-error *ngIf="weight.invalid && weight.touched">
              Wprowadź poprawną wagę
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" pattern="[0-9]*" maxlength="3" matInput placeholder="Docelowa waga" formControlName="goalWeight">
          <mat-error *ngIf="goalWeight.invalid && goalWeight.touched">
              Wprowadź poprawną wagę
            </mat-error>
        </mat-form-field>
      </div>
      <div class="box">
        <mat-form-field>
            <input type="text" pattern="[0-9]*" maxlength="4" matInput placeholder="Liczba kalorii" formControlName="dailyCalories">
            <mat-error *ngIf="dailyCalories.invalid && dailyCalories.touched">
              Coś nie tak z tymi kaloriami
              </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary"  class="btn" (click)="authService.UpdateUserProfile(authService.userData,myForm.value)">Zapisz</button>
    </form>
  </mat-card>


