<div class="displayTable">
    <div class="displayTableCell">

      <div class="authBlock">
        <h3>Dziękujęmy za zarejestrowanie</h3>

        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Wysłaliśmy link potwierdzający rejestrację na <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Proszę sprawdź swoją pocztę i wciśnij link zawarty w emailu, aby dokończyć proces rejestracji.</p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Prześlij jeszcze raz email weryfikujący
          </button>
        </div>

      </div>

      <div class="redirectToLogin">
        <span>Powrót do?<span class="redirect" routerLink="/login"> Zaloguj się</span></span>
      </div>

    </div>
  </div>
